body {
font-family: Arial;
margin: 40px;
}
h1 {
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
}
h2 {
margin-top: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
}
p {
font-size: 14px;
}
